Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  clang-analyzer-*
WarningsAsErrors: '*'
HeaderFilterRegex: 'core/.*'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - { key: readability-identifier-naming.VariableCase, value: camelBack }
  - { key: readability-identifier-naming.FunctionCase, value: camelBack }
  - { key: readability-identifier-naming.ClassCase, value: PascalCase }
  - { key: readability-identifier-naming.StructCase, value: PascalCase }
  - { key: readability-identifier-naming.EnumCase, value: PascalCase }
  - { key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE }

